
html{
	background: url(../img/background2.png) center center fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

#logo{
	position: relative;
	/*left:36%;*/
	width: 400px;
	font-family: 'Pacifico', 'cursive';
	color: white;
	font-size: 375%;
	margin:0 auto;
	text-shadow: 3px 6px 3px black;
}

#logo:hover{
	cursor: pointer;
}

.itementry{
	position: relative;
	width: 60%;
	height: 600px;
	left: 20%;
	top:50px;
	/*border: 1px solid black;*/
}

form{
	display: inline-block;
	height: 50px;
	width: 100%;
	margin: 0 auto;
	/*border: 1px solid black;*/
}

#results{
	/*border: 1px solid black;*/
	border-radius: 5px;
	position: relative;
	width: 100%;
	height: 80%;
	/*left: 20%;*/
	/*background: #34495e;*/
	margin-top: 20px;
}

.listitem{
	/*border: 1px solid black;*/
	position: relative;
	height: 180px;
	color: white;
	font-family: 'Ubuntu', 'sans-serif';
	text-align: center;
	font-size: 25px;
	line-height: 80px;
	margin-bottom: 10px;
	/*background: #34495e;*/
	border-radius: 5px;
	width: 30%;
	display: inline-block;
	margin-right: 5%;
}

.listitem:nth-child(3n){
	margin-right: 0;
}

/*.listitem:nth-child(even){
	-webkit-transform: rotate(3deg);
}

.listitem:nth-child(odd){
	-webkit-transform: rotate(-3deg);
}*/

.listitem:hover{
	cursor: pointer;
}


.itemselected{
	color : #1ABC9C;
	border-color: #1ABC9C;
	-webkit-box-sizing: border-box;
	-mox-box-sizing: border-box;
	box-sizing: border-box;
}

.content{
	display: inline-block;
	width:80%;
	height: 30%;
	opacity: 1;
	font-family: cursive;
	font-style: italic;
}

.tick, .cross{
	display: none;
	position: relative;
	top:17%;
	opacity: 1;
	width: 10%;
}

.tick{
	float: left;
	/*color: #2ECC71;	*/
	color: red;
}


.tick:hover, .cross:hover{
	-webkit-transform: scale(1.3,1.3);
	-moz-transform: scale(1.3,1.3);
	-ms-transform: scale(1.3,1.3);
	transform: scale(1.3,1.3);
}

.cross{
	float: right;
	/*color: #E74C3C;*/
	color: green;
	right: 8%;
}

.additem{
	position: absolute;
	border: 1px solid #2ECC71;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	right: -4px;
	top:6px;
}

.vplus, .hplus{
	background: #2ECC71;
	margin: auto;
	position: relative;
	top: 50%;
}

.vplus{
	width: 80%;
	height: 5px;
	top: 44%;
}

.hplus{
	width: 5px;
	height: 80%;
	top: -3%;
}

.additem{
	display: inline-block;
}

input[type="text"]{
	width: 100%;
	border-radius: 25px;
	position: relative;
	height: 83%;
	margin-right: 10px;
	border: 5px solid #1ABC9C;
	text-align: center;
	font-size: 220%;
}

input[type="text"]:focus{
	outline: 0;
}

.contentwidth{
	/*width: 80%;*/
}

.taskdone{
	background: #2C3E50;
	border-color: #fff;
}

#inputoptions{
	width: 100%;
	position: absolute;
	z-index: 999;
	height: 100px;
	background: #fff;
	display: none;
	border-radius: 25px;
	padding-left: 20%;
}

#deadline, #category{
	position: relative;
	width: 60%;
}


.content[contenteditable='true']:active,
.content[contenteditable='false']:focus,
{
	border: none;
	outline:none;
}
